:root {
    --main-color: #36363554;
    --body-bg-color: rgb(243, 243, 243);
    --grey-text: #666;
    --light-grey: #779;
    --border-color: #ccc;
    --white-bg-color : #fff;
    --white-text-color: #fff;
    --black-text-color: black;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

.home .content{
    margin: auto;
    align-items: center;
    text-align: center;
    width: 60%;
}

.home .content h3{
    font-size: 4rem;
    color:var(--white-text-color);
    align-items: center;
    text-align: center;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:var(--white-text-color);
}

.home .content .btn {
    color: var(--white-text-color) ;
    background: var(--black-text-color);
}

@media (max-width:768px){

    .home{
        min-height: 92vh;
    }

}

.fullBackground {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 7.5rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.caption {
  font-size: 30pt;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caption:after {
  content:"\A";
  width:10px;
  height:10px;
  border-radius:50%;
  background: #00bbeb;
  display: inline-block;
  margin: 0 0 -2px;
}
