.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/home-img-2.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    margin: auto;
    align-items: center;
    text-align: center;
    width: 60%;
}

.home .content h3{
    font-size: 4rem;
    color:var(--white-text-color);
    align-items: center;
    text-align: center;
}

.home .content h3 span{
    color: var(--main-color);
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:var(--black-text-color);
}