.box-container {
    margin: auto;
    width: 60%;
    border-radius: .5rem;
    background: var(--white-bg-color);
    padding: 2rem;
}

.box-container form h3{
    font-size: 3rem;
    text-align: center;
}

.box-container form p{
    font-size: 1.7rem;
    text-align: center;
}

.box-container form .inputBox{
    margin-top: 3rem;
    margin-bottom:1.7rem ;
    border: .2rem solid var(--grey-text);
    padding: 2rem;
}

.box-container form .inputBox:hover{
    border: .2rem solid var(--main-color);
}

.box-container form .inputBox i{
    font-size: 2rem;
    color: var(--main-color);
}

.box-container form .inputBox input{
    width: 90%;
    font-size: 2rem;
    color:var(--black-text-color);
    text-transform: none;
    background:transparent;
    border: none;
}


.box-container form .accept,
.box-container .redirect {
    text-align: center;
}

.box-container form .accept label,
.box-container .redirect label,
.box-container .forgot-password a {
    font-size: 1.7rem;
}

.box-container form .accept label a,
.box-container .redirect label a,
.box-container .forgot-password a{
    color: var(--main-color);
}

.box-container .forgot-password {
    text-align: left;
}

.box-container .form-inline {
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.box-container .form-inline label {
    margin: 0.3rem 0.6rem 0.3rem 0;
    font-size: 1.7rem;
}

.box-container .form-inline input {
    vertical-align: middle;
    margin: 0.3rem 0.6rem 0.3rem 0;
    padding: 0.6rem;
}

.box-container .button {
    padding-bottom: 2rem;
    text-align: center;
}

.box-container .button .btn {
    width: 100%;
}

@media (max-width:768px){

    .box-container{
        width: 100%;
    }

}