@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --main-color: #36363554;
    --body-bg-color: rgb(243, 243, 243);
    --grey-text: #666;
    --light-grey: #779;
    --border-color: #ccc;
    --white-bg-color : #fff;
    --white-text-color: #fff;
    --black-text-color: black;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: .5rem;
}

.header .header-1{
    box-shadow: var(--box-shadow);
    background:var(--white-bg-color);
    padding:1.5rem 9%;
    position: fixed;
    top:0; left: 0; right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black-text-color);
}

.header .header-1 .logo i{
    color:var(--main-color);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:var(--white-bg-color);
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black-text-color);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black-text-color);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--main-color);
}

.header .header-1 .navbar a{
    font-size: 1.7rem;
    padding:.5rem 1.5rem;
    color:var(--black-text-color);
}

.header .header-1 .navbar a.active,
.header .header-1 .navbar a:hover{
    font-weight: bolder;
    color:var(--white-text-color);
    background: var(--main-color);
}

.header .header-1 .navbar{
    display: none;
}

.header .header-1 .icons i,
.header .header-1 .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 2.5rem;
    color:var(--black-text-color);
}

.header .header-1 .icons i:hover,
.header .header-1 .icons a:hover,
.header .header-1 .icons i.active,
.header .header-1 .icons a.active{
    color:var(--main-color);
}


.header .header-1 .back{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black-text-color);
}

.header .header-1 .back:hover,
.header .header-1 .back.active {
    color: var(--main-color);
}

#search-btn{
    display: none;
}

.bottom-navbar{
    text-align: center;
    background:var(--white-bg-color);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
    width: 100%;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding:2rem;
    width: 24%;
    color:var(--black-text-color);
}

.bottom-navbar a:hover,
.bottom-navbar a.active{
    color: var(--main-color);
    border-top: .5rem solid var(--main-color);
}

.btn{
    margin-top: .5rem;
    display: inline-block;
    padding: .9rem 3.5rem;
    font-size: 1.7rem;
    color: var(--white-text-color);
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
}

body {
    background: var(--body-bg-color);
}

section{
    padding:2rem 7%;
}

.register,
.login,
.forgotpassword{
    padding-top: 15rem;
}

.heading{
    text-align: center;
    color:var(--black-text-color);
    text-transform: uppercase;
    padding-top: 9rem;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.footer{
    padding:2rem 9%;
    background: var(--main-color);
}

.footer .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
}

.footer .footer-container .footer-box{
    border: none;
    background: transparent;
}
  
.footer .footer-container .footer-box h3 {
    font-size: 2.2rem;
    color: var(--black-text-color);
    padding: 1rem 0;
    border: none;
}
  
.footer .footer-container .footer-box a {
    display: block;
    font-size: 1.4rem;
    color: var(--black-text-color);
    padding: 1rem 0;
}
  
.footer .footer-container .footer-box a i {
    padding-right: .5rem;
    color: var(--white-text-color);
}

.footer .footer-container .footer-box a span {
    color: var(--white-text-color);
}
  
.footer .footer-container .footer-box a:hover {
    color: var(--white-text-color);
}
  
.footer .footer-container .footer-box a:hover i {
    padding-right: 2rem;
}
  
.footer .credit {
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-align: center;
    color: var(--black-text-color);
    font-size: 2rem;
}
  
.footer .credit a {
    color: var(--white-text-color);
}

#scroll-top{
    position: fixed;
    top:-120%;
    right:2rem;
    padding:.5rem 1.5rem;
    font-size: 4rem;
    color:var(--main-color);
    border-radius: .5rem;
    transition: 1s linear;
    z-index: 1000;
}
  
#scroll-top.active{
    top:calc(100% - 12rem)
}

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-2{
        display: none;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        top:0; left:0; right:0;
        z-index: 1000;
        position: fixed;
        text-align: center;
    }

    .header .header-1 .navbar{
        display: block;
        position: absolute;
        top:105%; right: -100%;
        background: var(--white-bg-color);
        width: 25rem;
        border-radius: .5rem;
    }

    .header .header-1 .navbar.active{
        right:0;
    }

    .header .header-1 .navbar a{
        color: var(--black-text-color);
        text-align: center;
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
        border-radius: .5rem;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .header .cart-items-container{
        position: absolute;
        top:100%; right: -100%;
        height: calc(100vh - 9.5rem);
        width: 35rem;
        background: var(--white-bg-color);
        padding:0 1.5rem;
    }

    .heading{
        padding-top: 7rem;
    }

    .home .content{
        padding-top: 9rem;
        width: 100%;
    }

    .footer {
        display: none;
    }

    .center{
        width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}